.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  z-index: 2;
  color: white;

  text-align: center;
}

.modal_body {
  padding: 2rem;
  width: 400px;
  border-radius: 5px;
  background: linear-gradient(3deg, #afd9f7, #459cf7);
  /* height: 360px; */
}

.modal_body_login {
  padding: 2rem;
  width: 400px;
  border-radius: 15px;
  background: linear-gradient(3deg, #afd9f7, #459cf7);
  height: 360px;
}

.btn-modal {
  background-color: rgb(220, 220, 220);
}

.modal input {
  display: block;
  position: relative;
  width: 100%;
  height: 38px;
  margin: 20px 0;
  color: black;
  border-radius: 5px;
  font-size: 15px;
}

.modal_finish_btn {
  width: 100px;
  height: 40px;
  margin: 20px 10px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 0 0 white;
}

.close_login_btn {
  background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
}

.login_btn {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.btn_login_form {
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 50px;

  border: 2px solid #f42b03;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

.btn_login_form:hover {
  background-color: #f9ff60;
  background-image: linear-gradient(315deg, #f9ff60 0%, #ffef77 74%);
}
